<header id="js-header">
  <div class="logo">
    <a href="/">
      <span class="logo__big"></span><span class="logo__small">OAC</span>
    </a>
  </div><!---->
  <nav class="nav">
    <ul class="nav-menu">
      <li class="nav-item"><a href="/about-us">About</a></li>
      <li class="nav-item"><a href="/services">Services</a></li>
      <li class="nav-item"><a href="https://medium.com/@openarchcollab">Blog</a></li>
      <li class="nav-item"><a href="https://www.razoo.com/organization/Open-Architecture-Collaborative">Donate</a></li>
    </ul>
  </nav>
</header>
