//
// _mailchimp.scss
//
// Header and navigation styles.
//

@media(min-width: 750px) {
  #mc_embed_signup input.mailchimp-email {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 0.25em 0.5em;
    width: 80%;
    font-size: 2em;
  }

  #mc_embed_signup .mailchimp-button {
    display: inline-block;
    box-sizing: border-box;
    margin-left: -1%;
    width: 20%;

    .btn-primary {
      box-sizing: border-box;
      margin-top: calc(-0.5em - 1px);
      width: 100%;
      height: 50px;
      font-size: 1.5em;
    }
  }
}
