1<!-- this template is the pages for all the chapters -->

<% include partials/header.html %>


<% if (requested['color']) { %>
  <style>
    ul.story__body__content__links li a:before,
    .story:before,
    a.story__body__content__link--header,
    .story__body__content__opener__share ul li a:before,
    .story__body__content__opener__share p a:before,
    .action {
      background-color: <%- requested['color'] %>;
    }
    .header-share-icons p a:before {
      color: <%- requested['color'] %>;
    }
  </style>
<% } %>

<div id="js-main">
  <% include partials/nav.html %>

  <div class="container medium-width">
    <h1>Services Offered</h1>
    <p>
      The Open Architecture Collaborative, as a global network, has over 15 years of volunteer management, creative placemaking coordination, and community engagement experience. We’re developing our programs with our partners and aim to build community capacity and serve as an intermediary between professional practitioners and systemically marginalized communities. Community members, firm principals, and individual volunteers we look forward to hearing from you!
    </p>

    <section class="story">
      <h2>Architecture or Design Firm wanting to build community design capacity? (Professional Leadership Development)
      </h2>
      <p>
        Many design firms are beginning to see the benefit of Pro-bono services, either on their own or by participating in the 1+ program through Public Architecture. However, we have found that community practice requires a different skill set than traditional design education offers. We are working with firms in the San Francisco Bay Area to teach emerging designers the necessary skills and knowledge for community focused practice.
      </p>
      <a class="btn btn-primary" href="mailto:info@openarchcollab.org" target="_blank">
        Reach out to discuss trainings
      </a>
    </section>

    <img class="featured-image" src="/assets/images/new/planning.jpg">

    <section class="story">
      <h2>Community Development Corporation or community association looking to Launch Engagement or Creative Placemaking Programming?</h2>
      <p>
      The OAC can help you run community driven design/build projects and creative placemaking programs to engage your neighbors and further invest in their environments. We can support your community group or nonprofit with a specific project while building capacity for this type of civic engagement along the way.
      </p>
      <p>
      The OAC with currently partnered with the East Bay Asian Local Development Corporation (EBALDC) to support their community engagement and placemaking efforts. The OAC, as a community design consultant, is producing a 4 month community driven design/build program while simultaneously training 7 architects and designers in the skills and knowledge of community engaged design. The result will be six small scale projects, ranging from murals to a pop-up library, and more active and supported neighbors of the North West Oakland area around San Pablo Ave.
      </p>
      <a class="btn btn-primary" href="mailto:info@openarchcollab.org" target="_blank">
        Email us to chat about engagement
      </a>
    </section>

    <img class="featured-image" src="/assets/images/new/maria.jpg">

    <section class="story">
      <h2>Individual Looking to Volunteer?</h2>
      <p>
      The volunteer chapter network is the longest running program of the OAC and is the venue of both our innovative practices and professional development. Check to see if there’s an active chapter in your city. If not reach out and we’ll see how our umbrella supports might serve you too.
      </p>
      <a class="btn btn-primary" href="https://chapternetwork.typeform.com/to/K8KU76">
        Sign up to volunteer now
      </a>
    </section>

    <img class="featured-image" src="/assets/images/new/donation-nyc.jpg">

    <section class="story">
      <h2>Sponsorship</h2>
      <p>
      You can support our network and our community engaged practices by partnering with us and becoming a sponsor. Find out more about the program.
      </p>
      <p>
      We are committed to developing new opportunities for designers and architects to engage with their local marginalized neighbors. We are shifting the dialogue around what architecture and design can do, and who we work for and with. We have a newsletter with over 13,000 subscribers, 24 active chapters around the world, with most of our leaders in the early phases of their careers.
      </p>
      <a class="btn btn-primary" href="mailto:info@openarchcollab.org" target="_blank">
        Reach out to discuss sponsorship and benefits
      </a>
    </section>

  </div>
</div>

<% include partials/next.html %>
<% include partials/footer.html %>
